/*Google Fonts-Poppins and Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Whole page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Navbar */
.navbar{
    position: fixed;
    padding: 30px 0px;
    z-index: 999;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky {
    background-color: #a1b0ab;
    padding: 15px 0px;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: color 0.3 ease;
}
.navbar .menu li a:hover{
    color:#800020;

}

/* menu button */
.menubtn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Home section */
.home{
    display: flex;
    background: url('../images/key.jpg') no-repeat center;
    height: 100%;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
   
}
.home .max-width{
    margin: auto 0 auto 40px;
   
}
.home .home-content .text1{
    font-size:27px;
}
.home .home-content .text2{
    font-size:75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text3{
    font-size:40px;
    margin: 5px 0;
}
.home .home-content .text2 span {
    color: 	#800020;
   font-weight: 500;
}
.home .home-content .text3 span {
    color: 	#a1b0ab;
    font-weight: 500;
}
.home .home-content  a{
    display: inline-block;
    background: #a1b0ab;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #a1b0ab;
    transition: all 0.3s ease;
}
.home .home-content  a:hover{
    color: #FF0000;
    background: none;
}
.site-content{
    display: flex;
}
.links{
    display: flex;
    font-size: 15px;
    margin-left: 50px;
    list-style: none;
}
.links li{
    margin: 0 10px;
}
.site-content .links .site{
    font-size: 25px;
    border-radius: 50px;
}

/* About me section */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#000000;
    transform: translateX(-50%);
}
.about .title::after{
    content: "Who I Am";
    position: absolute;
    bottom: -12px;
    font-size: 20px;
    color: #800020;
    left: 50%;
    padding: 5px;
    background:#fff;
    transform: translateX(-50%);
}
.about .about-content, .contactme .contactme-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: #a1b0ab;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #a1b0ab;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: #a1b0ab;
    background: none;
}
/* Skills sections  */
.skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#000000;
    transform: translateX(-50%);
}
.skills .title::after{
    content: "What I Know";
    position: absolute;
    bottom: -12px;
    font-size: 20px;
    color: #800020;
    left: 50%;
    padding: 5px;
    background:#fff;
    transform: translateX(-50%);
}
.skills{
    font-family: 'Poppins', sans-serif;
}
.skills-content{
    text-align: center;
    font-size: 0.7rem;
    background: #eeee;
    border-radius: 50px;
    padding: 48px;
}
.skills-content ul{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill,minmax(80px, 1fr));
    grid-column-gap:104px;
    grid-row-gap:50px;
}
.skills-content li {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    width: 80px;
    border: 1px solid #a1b0ab;
}
.skills-content li img{
    width: 35px;
    height: 35px;
}
/* Work section */
.work .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.work .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#000000;
    transform: translateX(-50%);
}
.work .title::after{
    content: "Projects";
    position: absolute;
    bottom: -12px;
    font-size: 20px;
    color: #800020;
    left: 50%;
    padding: 5px;
    background:#fff;
    transform: translateX(-50%);
}
.work{
    font-family: 'Poppins', sans-serif;
}
.work-content{
    display: flex;
    flex-wrap: wrap;
}
.projects img {
    width: 100%;
 
}
 .projects{
    margin: 20px;
    background: #a1b0ab;
    color: #fff;
    flex: 1;
   
}
.project-bio {
    padding: 25px 25px 15px 25px;
    line-height: 1.3;
    
}
.project-bio  h3 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
.project-bio  ul{  
    font-size: 15px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
}
.project-bio li{
    margin: 0 10px;
    background-color:#fff;
    color: #a1b0ab;
    border-radius: 50px;
    padding: 8px;
}
.project-bio  p {
    font-size: 17px;  
} 
.project-link{
    display: flex;
}
.linkbox{
    display: flex;
    font-size: 40px;
    margin-left: 50px;
    list-style: none;
}
.linkbox li{
    margin: 0 20px;
}
/* contact me section */
.contactme .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.contactme .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#000000;
    transform: translateX(-50%);
}
.contactme .title::after{
    content: "Reach Out";
    position: absolute;
    bottom: -12px;
    font-size: 20px;
    color: #800020;
    left: 50%;
    padding: 5px;
    background:#fff;
    transform: translateX(-50%);
}
.contactme{
    font-family: 'Poppins', sans-serif;
}
.contactme .contactme-content .column{
    width: calc(50% - 30px);
}
.contactme .contactme-content .left p{
 text-align: justify;
}
.contactme .contactme-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contactme .contactme-content .left .icons{
    margin: 10px 0;
}
.contactme .contactme-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contactme .contactme-content .row .contactinfo{
    margin-left: 30px;
}
.contactme .contactme-content .row i{
    font-size: 25px;
    color: #a1b0ab;
}
.contactme .contactme-content .contactinfo .header{
    font-weight: 500;
}
.contactme .contactme-content .contactinfo .subheader{
    color: #333;
}
.contactme .right form .contact-form{
    display: flex;
}
.contactme .right form .box,
.contactme .right form .contact-form .box{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contactme .right form .textarea{
    height: 80px;
    width: 100%;
}
.contactme .right form .name{
    margin-right: 10px;
}
.contactme .right form .email{
    margin-left: 10px;
}
.contactme .right form .box input,
.contactme .right form .textarea textarea{
    height: 45px;
    width: 100%;
    border: 1px solid #7e7e7e;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contactme .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contactme .right form .button{
    height: 47px;
    width: 170px;
}
.contactme .right form .button button{
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    background: #a1b0ab;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contactme .right form .button button:hover{
    color: #FF0000;
    background: none;
}
/* footer section */
footer{
    font-family: 'Poppins', sans-serif;
    background-color: #a1b0ab;
    padding: 20px 23px;
    color: #fff;
}

/* @media  */
@media screen and (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media screen and (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media screen and (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
} 
@media screen and (max-width: 947px){
    .menubtn{
        display: block;
        z-index: 999;
    }
    .menubtn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #a1b0ab;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;

    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text2{
        font-size:70px;
      
    }
    .home .home-content .text3{
        font-size:35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
       
    }
    .about .about-content .column,
    .contactme .contactme-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .about .about-content .left{
     display: flex;
     justify-content: center;
     margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
}
@media screen and (max-width: 690px){
    .home .home-content .text2{
        font-size:60px;
       
    }
    .home .home-content .text3{
        font-size:32px;
    }
    .max-width{
        padding: 0 23px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 9px 20px;
    }
 }
 @media screen and (max-width: 519px){
    .home .home-content .text2{
        font-size:50px;
       
    }
    .home .home-content .text3{
        font-size:27px;
    }
    .links{
        margin-left: 30px;
    }
 }
 