/* Whole Page  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary:#d5ecd4;
    --secondary:#a1b0ab;
    --tertiarty:#020122;
}

body {
    margin: 0;
    background: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
.topnav-right {
    justify-content: right;
}
header {
    padding: 5%;
    margin: auto;
    background-color: var(--secondary);
    /* position: sticky; */
}






/* Footer */
footer{
    background-color: var(--secondary);
    padding: 10px;
}
.fa-brands,.fa-solid{
    font-size: 40px;
}
.col-lg-2 {
    width: 6%;
}
.footertext{
    float: right;
    font-size: 20px;
}