/*Google Fonts-Poppins and Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Whole page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Navbar */
.navbar{
    position: fixed;
    padding: 30px 0px;
    width: 100%;
    /* background-color: #a1b0ab; */
    font-family: 'Ubuntu', sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: color 0.3 ease;
}
.navbar .menu li a:hover{
    color:#800020;

}
/* Home section */
.home{
    display: flex;
    background: url('../images/frontend_webdeveloper.jpg') no-repeat center;
    height: 100%;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text1{
    font-size:27px;
}
.home .home-content .text2{
    font-size:75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text3{
    font-size:40px;
    margin: 5px 0;
}
.home .home-content .text2 span {
    color: 	#800020;
   font-weight: 500;
}
.home .home-content .text3 span {
    color: 	#FF0000;
    font-weight: 500;
}
/* site link */
.site {
    display: flex;
  
}
.site .max-width{
    margin: auto 0 auto 40px;
}
.site  ul li a {
    font-size: 50px;
   text-decoration: none;
   margin-left: 25px;
}
.site  li{
    position: relative;
    top: 200px;
    left: 175px;
    list-style-type: none;
    margin-bottom: 15;
  
}
.fa-brands, .fa-solid{
    color: #fff;
}